body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1)100%); 
}  
  